*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container{
  width: 100%;
  height: 600%;
  background: #5c242f;
}
.menu ul{
  display: inline-flex;
  margin: 50px;
}
.menu ul li{
  list-style:none;
  margin: 0 20px;
  color: #b2b1b1;
  cursor: pointer;
}
.logo img{
  width: 50px;
  margin-top: -7px;
  margin-right: 48px;
}
.pic img{
  width: 400px;
}
.active{
  color: #389d3d !important;
}
.bodtxt{
  width: 80%;
  height: 70%;
  top: 20%;
  left: 150px;
  position: absolute;
  color: #b2b1b1;
}
